absl-py==1.0.0
affine==2.4.0
alphashape==1.3.1
aniso8601==9.0.1
anyio==3.6.2
apex==0.1
aplus==0.11.0
astropy==5.2.1
asttokens==2.0.5
attrdict==2.0.1
attrs==22.2.0
backcall==0.2.0
bitarray==2.6.0
blake3==0.3.3
bqplot==0.12.36
branca==0.6.0
brewer2mpl==1.4.1
cachetools==5.0.0
Cartopy==0.20.2
certifi==2023.5.7
cfractions==2.1.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
click-log==0.4.0
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.4
contextily==1.3.0
cycler==0.11.0
Cython==0.29.33
dask==2023.3.1
dbfread==2.0.7
debugpy==1.5.1
decision==0.3.1
decorator==5.1.1
dendroid==1.4.0
easydict==1.10
entrypoints==0.4
executing==0.8.3
fastapi==0.95.0
feather-format==0.4.1
filelock==3.10.0
Fiona==1.9.1
Flask==1.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
fonttools==4.29.1
frozendict==2.3.5
fsspec==2023.3.0
future==0.18.3
GDAL==3.4.2
geographiclib==2.0
geopandas==0.12.2
geoplot==0.5.1
geopy==2.3.0
geotool==0.1.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
googledrivedownloader==0.4
ground==8.2.0
grpcio==1.44.0
h11==0.14.0
h5py==3.7.0
httptools==0.5.0
idna==2.10
imagecodecs
imageio==2.21.2
imagesize==1.4.1
imgaug==0.4.0
importlib-metadata==4.11.2
ipydatawidgets==4.3.3
ipykernel==6.9.1
ipyleaflet==0.17.2
ipympl==0.9.3
ipython==8.1.1
ipython-genutils==0.2.0
ipyvolume==0.6.1
ipyvue==1.9.0
ipyvuetify==1.8.4
ipywebrtc==0.6.0
ipywidgets==8.0.1
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-widgets==3.0.2
kiwisolver==1.3.2
kornia==0.5.8
littleutils==0.2.2
llvmlite==0.39.1
locket==1.0.0
mapclassify==2.5.0
Markdown==3.3.6
markdown-it-py==2.2.0
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mdurl==0.1.2
mercantile==1.2.1
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
munch==2.5.0
nest-asyncio==1.5.4
networkx==2.7.1
ninja==1.11.1
numba==0.56.4
numpy==1.20.2
oauthlib==3.2.0
ogb==1.3.3
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.62
outdated==0.2.1
packaging==21.3
pandas==1.4.1
parso==0.8.3
partd==1.3.0
pathlib2==2.3.7.post1
pathspec==0.5.5
pickleshare==0.7.5
Pillow==8.2.0
prioq==0.5.0
progressbar2==4.2.0
prompt-toolkit==3.0.28
protobuf==3.19.4
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycococreatortools==0.2.0
pycocotools-windows==2.0.0.2
pydantic==1.10.6
pyerfa==2.0.0.1
pygame==2.1.2
pygeoops==0.1.0
pygeos==0.14
Pygments==2.13.0
pylibtiff==0.4.4
pyparsing==3.0.7
pyproj==3.4.1
pyshp==2.2.0
pyspark==2.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==5.0.2
python-utils==3.5.2
pythreejs==2.4.2
pytz==2021.3
PyWavelets==1.3.0
pywin32==303
PyYAML==6.0
pyzmq==25.0.1
rasterio==1.2.10
rdflib==6.1.1
reprit==0.8.0
requests==2.25.1
requests-oauthlib==1.3.1
rich==13.3.2
rsa==4.8
Rtree==1.0.1
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
sect==6.1.0
shapely==2.0.1
shewchuk==6.3.0
six
sniffio==1.3.0
snuggs==1.4.7
stack-data==0.2.0
starlette==0.26.1
svgpathtools==1.4.4
svgwrite==1.4.1
symba==1.2.1
tabulate==0.9.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
termcolor==2.3.0
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2022.8.12
toolz==0.12.0
torch==1.12.0+cu113
torch-cluster
torch-geometric==2.0.3
torch-sparse
torch-spline-conv
torch-tb-profiler==0.4.0
torchaudio==0.12.0+cu113
torchsummary==1.5.1
torchvision==0.13.0+cu113
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
traittypes==0.2.1
tri==0.3.1.dev0
triangle==20220202
trimesh==3.21.5
typing_extensions==4.4.0
urllib3==1.26.8
uvicorn==0.21.1
vaex==4.16.0
vaex-astro==0.9.3
vaex-core==4.16.1
vaex-hdf5==0.14.1
vaex-jupyter==0.8.1
vaex-ml==0.18.1
vaex-server==0.8.1
vaex-viz==0.5.4
watchfiles==0.18.1
wcwidth==0.2.5
websockets==10.4
Werkzeug==2.0.3
wget==3.2
widgetsnbextension==4.0.2
wincertstore==0.2
xarray==2023.1.0
xyzservices==2023.2.0
yacs==0.1.8
zipp==3.7.0
